.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 20px;
  font-weight: light;
}

body {
  font-size: 20px;
  font-weight: 100;
}

h2 {
  font-size: 22px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

// for "star" bullet points.
ol > li > ul > li {
  list-style-type: none;
  padding-left: 0.4em;
}

ol > li > ul > li::marker {
  content: "✦ ";
  color: #B8860B;
}
