.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 20px;
  font-weight: light;
}

body {
  font-size: 20px;
  font-weight: 100;
}

h2 {
  font-size: 22px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

# for "star" sub-bullet points.
ul li ul li {
  list-style-type: none;
  padding-left: 1.5em;
}

ul li ul li::before {
  content: "✦ ";
  margin-left: -1.5em;
  color: #B8860B; /* dark gold - suits the award context */
}
